<% cache issue do %>
<div class="btn-group pull-right">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actions <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to 'Close', close_issue_path(issue.id) %></li>
  </ul>
</div>

<h1><%= issue.title %></h1>
<%= issue.description %>

<%= render partial: 'events', object: @events %>
<% end %>
