// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#admin_edit {
  .tall-selection {
    max-height: 10em;
    overflow-x: scroll;
  }
}

#admin-user-index {
  .item-bottom-padding {
    height: 2em;
  }

  img {
    border-radius: 30%;
  }
}
