<h1>
  <%= @resident.name %>
  <% if @resident.unit %>
    <small>Lives in <%= @resident.unit.number %></small>
  <% end %>
</h1>

<% if @roommates.any? %>
  <h3>Lives with</h3>
  <% @roommates.each do |rm| %>
    <%= render partial:'resident', object: rm %>
  <% end %>
<% end %>
